.cart {
    float: left;
    color: white;
    font-size: 2em;
    padding-top: 5px;
    padding-right: 20px;
}
.login {
    float: right;
    padding-top: 5px;
    padding-right: 30px;
}
.whoami {
    padding-top: 5px;
    padding-right: 30px;
    float: right;
}
.account {
    padding-left: 100px;
}
.quantity {
    font-size: 30px;
}
.cost {
    font-size: 30px;
    color: green;
}
.stock {
    font-weight: bold;
    font-size: 30px;

}
.descriptionHeader {
    font-weight: bold;
    font-size: 15px;
}
.description {
    padding-top: 30px;
}
.purchase {
    padding-top: 15px;
}
ul {
    list-style-type: none;
}